fastapi
uvicorn
pandas
python-multipart
chardet
python-dotenv
google-auth
requests
itsdangerous
numpy
scikit-learn
sentence-transformers
deep-translator
hdbscan
umap-learn
bertopic
reportlab
python-docx
python-pptx
Pillow
